name: "Update Configuration and Build"

on:
  workflow_dispatch:
  push:

jobs:
  update:
    name: "Update Configuration & Build"
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - uses: Meniole/action-deploy-plugin@feat/27-generate-manifest-metadata
        with:
          treatAsEsm: true
          sourcemap: true
          pluginEntry: "${{ github.workspace }}/src/action.ts"
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
          MATCHMAKING_ENDPOINT: ${{ vars.MATCHMAKING_ENDPOINT }}
          START_STOP_ENDPOINT: ${{ vars.START_STOP_ENDPOINT }}
